
body{
    background:whitesmoke;    
    }

form{
        margin:20px auto;
        width:500px;
        font-size: 20px;
    }
    
input{
        padding:5px;
        font-size:inherit;
    }
input[type= "text"]
    {
        display:block;
        margin-bottom: 15px;
        width:100%;
        border: 2px solid steelblue;
        
    }
input[type= "password"]
    {
        display:block;
        margin-bottom: 25px;
        width:100%;
        border: 2px solid steelblue;
    }   
input[ type="email"]
    {
        display:block;
        margin-bottom: 25px;
        width:100%;
        border: 2px solid steelblue;
    }
input[ type= "number"]
    {
        display:block;
        margin-bottom: 25px;
        width:100%;
        border: 2px solid steelblue;
    }
input[type="radio"]
    {
        margin:0 8px 25px 18px;
    }
input[type="radio"]:first child
    {
        margin-left: 0;
        
    }
    
input[type="submit"]
    {
        width:344px;
        height: 45px;
        border: none;
        background: steelblue;
        color: white;
    }
    
